<?xml version="1.0" encoding="utf-8"?>

<!-- This file is the android manifest -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aakportfolio.www.fbla2015">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <receiver  android:process=":remote" android:name="Alarm"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eventDummy"
            android:label="@string/title_activity_event_dummy" />
    </application>

</manifest>
